@import url(./variables.css);

.prices-container {
  display: flex;
 justify-content: center;
 align-items: center;

  width: 100%;
}

.price-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #212121;
  border: 3px solid RGB(239 155 69);
  color: white;
  border-radius: 15px;
  width: 30%;
  margin: 24px 32px;

  h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: RGB(239 155 69);
  }


  .most-popular{
    position: absolute;
    background-color:RGB(239 155 69);
    color: black;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px;
   
  }

  .price-tag{
    font-size: 40px;
    font-weight: bold;

    span{
      font-size: 12px;
      font-weight:lighter;
      color: antiquewhite;
    }
  }
  
}

.features{
  text-align: justify;
  margin: 0 auto;
  span{
    margin-right: 12px;
  }
}


